<!--
    uses {{userprofile}}
-->
<div>
    <span>Company name: <br>
    <h2>{{userprofile.profile.fname}}
        {{userprofile.profile.lname}}
    </h2></span>
    <br>
    <span>Date of Birth: <br><h2>{{userprofile.profile.dob}}</h2></span>
    
    <br>
    YOUR REVIEWS
    <br>
    <!--a button to display/hide -->
    <span>Total reviews: <br><h2>{{userprofile.nrreviews}}</h2> <span>Show All</span></span>

    <div ng-repeat="review in userprofile.profilereviews">
    <a ng-href="#/tab/reviews/{{review.review_id}}">A review</a>
    </div>
</div>