<ion-view view-title="{{serv.title}}">
  <ion-content class="padding">

    <div>
      <h1>
        {{serv.title}}
      </h1>
      <h5>
        ${{serv.price}}
      </h5>
      <p>
        {{serv.description}}
      </p>
    </div>
    <div class="item-divider" >
      <span ng-click="reviewtab = !reviewtab" style="cursor: pointer"  class="padding-left">Add review | {{reviewtab}}</span>
      <span ng-click="" style="float: right" class="padding-right">Save</span>
    </div>
    <ion-item ng-show="reviewtab">
      <form id="newreview" ng-submit="createReview(rvw)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Rating</span>
            <input type="number" ng-model="rvw.rating" min="0" max="10" placeholder="0-10">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="Give your impression a name." ng-model="rvw.title">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <!--<input type="text" placeholder="Give impression a name." ng-model="task.title">-->
            <textarea ng-model="rvw.description" form="newreview"  placeholder="Is there something else you'd like to share?'">

            </textarea>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-calm">Publish</button>
        </div>
      </form>
    </ion-item>
    <hr>



    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="review in reviews" type="item-text-wrap">

        <h3>{{review.title}}</h3>
        <p>{{review.description}}</p>
      </ion-item>
      <ion-list>

  </ion-content>
</ion-view>