<ion-view view-title="{{profile.userdata.username}}">
  <ion-content class="padding">
    <ion-list>
      <!--{{profile}}-->
      <ion-item class="item item-thumbnail-left">
        <img src="{{profilepicurl}}"></img>
        <h1>{{profile.fname}} {{profile.lname}}</h1>
        Date of Birth: {{profile.dob}}<br>

      </ion-item>
      <ion-item class="item-divider">
        My Info
      </ion-item>
      <ion-item>
        I am a new user, hi!
      </ion-item>
      <ion-item class="item-divider">
        Reviews:
      </ion-item>
      <ion-list>
        <ion-item ng-repeat="review in profile.profilehasreviews" class ="item-icon-right"
          ng-href="#/tab/reviews/{{review.review_id}}">
          {{review.title}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>