<ion-view view-title="Review">
	<ion-content class="padding">
		<!--{{review}}-->
		<div>
			<ion-item class="item-icon-right " ng-href="#/tab/profiles/{{review.profile_id}}">
				<i class="icon ion-android-person"></i> By: {{review.relprofile.fname}} {{review.relprofile.lname}}
				<p>For {{review.relservice.title}}</p>
			</ion-item>
			<ion-item class="item">
				<h1>
					{{review.title}}
				</h1>

				<h2>
					Rating: {{review.rating}}
				</h2>
				<h2>
					Description:
				</h2>

				{{review.description}}
			</ion-item>
		</div>
		<ng-include src="commdl"> </ng-include>



		<ion-list>
			<ion-item class="item-icon-left" ng-repeat="comment in review.comments" type="item-text-wrap">
        <i class="icon ion-chatbubble-working"></i>
				<h3>{{comment.author}}</h3>
				<p>{{comment.text}}</p>
			</ion-item>
			<ion-list>

	</ion-content>
</ion-view>