<ion-view view-title="{{serv.title}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-divider">
        <h2>{{user.username}}<a style="float: right" ng-click="logout()">LOG OUT</a></h2>
      </ion-item>
      <ion-item>
        Email: {{user.email}}
        <br> Type: {{usertype}}
        <br> Since: {{user.created_at}}
      </ion-item>
      <ion-item class="item-divider">
        <h2>{{moduleTitle}}<a style="float: right" ng-href="#/tab/accountinit">EDIT</a></h2>
      </ion-item>
      
        
        <!--<span ng-click="moduleDisplay = true" ng-hide="moduleDisplay">Show</span>
        <span ng-click="moduleDisplay = false" ng-show="moduleDisplay">Hide</span>
        <div ng-show="moduleDisplay">-->

          <ng-include src="mdl"></ng-include>


    </ion-list>
  </ion-content>
</ion-view>