<ion-view view-title="Services">
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item class="item-animate item-icon-right" ng-repeat="service in srvces" type="item-text-wrap" href="#/tab/services/{{service.service_id}}">

        <h2>{{service.title}}</h2>
        <h3>{{service.relcompany.name}}. ${{service.price}}</h3>
        <p>{{service.description}}</p>
        <hr>
        <ion-list>
          <ion-item ng-repeat="review in service.serreviews">
            <h3>{{review.title}}</h3>
          </ion-item>
        </ion-list>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
      <ion-list>

        <ion-infinite-scroll 
          icon="ion-loading-c" 
          on-infinite="loadMoreData()">
        </ion-infinite-scroll>


  </ion-content>
</ion-view>